<div class="home-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active div-image">
            <%= image_tag "webdesign.jpg", class: "d-block w-100" %>
            <div class="carousel-caption d-none d-md-block c-caption">
                <h5>Web Design</h5>
                <p>We design web applications</p>
            </div>
        </div>
        <div class="carousel-item div-image">
            <%= image_tag "mobiledesign.jpg", class: "d-block w-100" %>
            <div class="carousel-caption d-none d-md-block c-caption">
                <h5>Mobile App Design</h5>
                <p>We design Mobile applications</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="who-we-are mt-2">
        <h1 class="pb-3 mb-2">WHO WE ARE</h1>
        <p class="mx-3">
            Odavolt limited is a leading web application and mobile application development agency. We are
            a product focused web and mobile application development agency looking to satisify your business
            needs by developing applications that suit all your requirements
        </p>
        <p class="mx-3"> 
            You can also get your applications developed by Uganda's leading proffessionals. As a web design company
            we design and develop SEO friendly websites at affordable costs.
        </p>
    </div>
    <div class="what-we-offer mt-4 py-3">
        <h1 class="pb-3 mb-2">WHAT WE OFFER</h1>
        <div class="d-flex justify-content-between">
            <div class="mx-3">
                <div class="offer-4">
                    <h5>WEB DESIGN</h5>
                    <p>For outstanding and yet cheap website design your in the safe hands of odavolt.
                        Contact us now and we shall get you that website.</p>
                    <h5 class="mt-5">CUSTOM SYSTEM DESIGN</h5>
                    <p>We provide custom made software development by meeting our clients needs.
                     we develop these systems following software development principles for quality products</p>
                </div>
            </div>
            <div class="image-div"><%= image_tag "whoweare.jpg", class: "d-block w-100 image-div1" %></div>
            <div class="mx-3">
                <div class="offer-4">
                    <h5>MOBILE APPLICATION DEVELOPMENT</h5>
                    <p>We have experienced mobile application developers who develop cross platform applications.</p>
                    <h5>WEB HOSTING SERVICE</h5>
                    <p>We provide you with a hosting service for your website, we offer a number of packages 
                        for this service.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="web-design d-flex justify-content-between mt-4 bg-light p-3">
        <div class="web-text ml-3">
            <h2>Proffesional web design & development</h2>
            <p>Get a proffessional website designed by a leading website design proffessional</p>
            <p>We design and develop SEO friendly websites at affordable costs</p>
            <p>(website design services, small business website design, 
                custom website design, website development agency, professional website development services)</p>
        </div>
        <div class="web-img image-div mr-3"><%= image_tag "sketchwebdesign.jpg", class: "d-block w-100 image-div2" %></div>
    </div>
    <div class="mobile-design d-flex justify-content-between bg-light p-3">
        <div class="mob-img image-div ml-3"><%= image_tag "sketchmobdesign.jpg", class: "d-block w-100 image-div2" %></div>
        <div class="web-text mx-3">
            <h2>Proffesional mobile design & development</h2>
            <p>We build mobile apps that look great on every device</p>
            <p>we acknowledge the changing character of the mobile landscape. So we build applications using effective
                communication and consultation practices, extensive testing.</p>
        </div>
    </div>
    <div class="contact-design d-flex justify-content-between mt-4">
        <div class="contact-img image-div ml-3"><%= image_tag "contact1.jpg", class: "d-block w-100" %></div>
        <div class="web-text mx-3">
            <h2>Contat Us Today</h2>
            <p>Please reach out to us in case of any questions and concerns and we shall give you the help you
                need
            </p>
            <div class="d-flex justify-content-between mx-5">
                <div class="bottom-contacts p-3">
                    <h5>Call us today</h5>
                    <p>+256702600053</p>
                </div>
                <div class="bottom-contacts p-3">
                    <h5>Email us today</h5>
                    <p>odavolt.tech@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
